@model ItAssetsFront.Models.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Register | Ludiflex</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/loginAssets/css/style.css" />
</head>
<body>
    <div class="wrapper">
        <div class="form-header">
            <div class="titles">
                <div class="title-login">Login</div>
                <div class="title-register">Register</div>
            </div>
        </div>

        <!-- LOGIN FORM -->
        <form asp-action="Index" method="post" class="login-form" autocomplete="off">
            <div class="input-box">
                <input asp-for="email" class="input-field" required />
                <label asp-for="email" class="label">Email</label>
                <i class='bx bx-envelope icon'></i>
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="input-box">
                <input asp-for="password" class="input-field" type="password" required />
                <label asp-for="password" class="label">Password</label>
                <i class='bx bx-lock-alt icon'></i>
                <span asp-validation-for="password" class="text-danger"></span>
            </div>

            <div class="form-cols">
                <div class="col-1"></div>
                <div class="col-2">
                    <a href="#">Forgot password?</a>
                </div>
            </div>

            @if (ViewBag.Error != null)
            {
                <div class="text-danger text-center">@ViewBag.Error</div>
            }

            <div class="input-box">
                <button class="btn-submit" type="submit" id="SignInBtn">
                    Sign In <i class='bx bx-log-in'></i>
                </button>
            </div>

            <div class="switch-form">
                <span>Don't have an account? <a href="#" onclick="registerFunction()">Register</a></span>
            </div>
        </form>

        <!-- REGISTER FORM - not wired yet -->
        <form action="#" class="register-form" autocomplete="off">
            <div class="input-box">
                <input type="text" class="input-field" id="reg-name" required>
                <label for="reg-name" class="label">Username</label>
                <i class='bx bx-user icon'></i>
            </div>
            <div class="input-box">
                <input type="text" class="input-field" id="reg-email" required>
                <label for="reg-email" class="label">Email</label>
                <i class='bx bx-envelope icon'></i>
            </div>
            <div class="input-box">
                <input type="password" class="input-field" id="reg-pass" required>
                <label for="reg-pass" class="label">Password</label>
                <i class='bx bx-lock-alt icon'></i>
            </div>
            <div class="form-cols">
                <div class="col-1">
                    <input type="checkbox" id="agree">
                    <label for="agree"> I agree to terms & conditions</label>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="input-box">
                <button class="btn-submit" id="SignUpBtn">Sign Up <i class='bx bx-user-plus'></i></button>
            </div>
            <div class="switch-form">
                <span>Already have an account? <a href="#" onclick="loginFunction()">Login</a></span>
            </div>
        </form>
    </div>

    <script src="~/loginAssets/js/script.js"></script>
    @* Validation scripts *@
    <partial name="_ValidationScriptsPartial" />
</body>
</html>
